.account-sidebar-container{
  grid-area: account-sidebar-container;
  display: grid;
  grid-template-columns: auto;
  margin-top: 1ch;
  background-color: rgb(240, 240, 240);
  width: 200px;
  padding: 1ch 2ch 1ch 2ch;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(230,230,230);
  margin-top: 2ch;;
}

.sidebar-customer-name{
  margin-bottom: 1ch;
  font-size: 1.4rem;
}

.sidebar-customer-name:hover{
  background-color: blue;
  color: white;
}

@media screen and (max-width: 1020px) {
  .account-sidebar-container{
    width: 100px;
    padding-left: 1ch;
    padding-right: 2ch;
  }

  .sidebar-customer-name{
    margin-bottom: 1ch;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .account-sidebar-container{
    width: 180px;
  }
}

 
  