.activity-h2{
  margin-top: 1.5ch;
}

.activity-item{
  margin: 2ch; 
  display: inline-block;
}

.activity-image{
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.activity-image:hover{
  border: 1px solid aqua;
  transform: scale(1.02);
}

@media screen and (max-width: 1300px) {
  .activity-image{
    width: 300px;
    height: 225px;
  }
  h2{
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 860px) {
  .activity-image{
    width: 200px;
    height: 150px;
  }
  h2{
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {
  .activity-image{
    width: 150px;
    height: 105px;
  }
  h2{
    font-size: 0.9rem;
  }
}