.main-fixture-list{
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  background-color: rgb(241, 241, 207);
  background-color: rgb(212, 239, 255);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  max-width: 750px;
  height: 68vh;
  overflow-y: auto;
}

  .fixture-heading-li,
  .fixture-li{
    display: grid;
    grid-template-columns: 200px 220px 50px 220px;
  }
  
  .fixture-heading-li{
      font-size: 1.3rem;
      font-weight: bold;
      background-color: rgb(212, 239, 255);
      border-bottom-style: solid; 
      border-bottom-width: 1px;
      padding-top: 1ch;
      padding-bottom: 1ch;
    }
  
  .fixture-list-item-span{
    padding: 0.5ch;
  }

  .fixture-li{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: rgb(226, 241, 250);
  }