.Footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1ch;
  background-color: rgb(240, 240, 240);
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;    
  padding-top: 3ch;
  padding-bottom: 3ch;
}


@media screen and (max-width: 350px) {
  .Footer{
    grid-template-columns: repeat(2, 1fr);
  }
  .main-header{
    font-size: 2.2rem;
  }
}

