
*{
  color: rgb(16, 92, 163);
}
.header-container{
  display: grid;
  grid-template-columns: auto, auto, 1fr, auto, auto;
  display: inline;
  padding-bottom: 2ch;
}

.welcome-to,
.safe-bank{
  display: inline;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 0.5ch;
  padding-bottom: 2ch; 
  margin-bottom: 1ch;
  color: midnightblue; 
}

.main-logos{
  display: inline;
  width: 60px;
  height: 60px;
  margin-bottom: -1.2ch;
}

.header-spacer{
  margin: 3ch;
  margin-bottom: 1ch;
  padding-bottom: 2ch;
}

@media screen and (max-width: 700px) {
  .welcome-to{
    display: none;
  }
  .main-header{
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 480px) {
  .header-container{
    grid-template-columns: auto,  1fr, auto;
  }
  .header-spacer{
    margin: 0.5ch;

  }

}

