.loggedInsection-container{
  display: grid;
  grid-template:
  "account-sidebar-container statement-section-container" auto
  " . statement-section-container " auto/
   auto auto;
  grid-gap: 2ch;
  margin-top: 1ch;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;    
  padding-top: 3ch;
  padding-bottom: 3ch;
}