.loginsection-container{
  display: grid;
  grid-template: 
  ". login-button register-button" auto/
  1fr auto auto;
}

.loginsection-list{
  display: inline-block;  
}

.login-button, .register-button{
  display: inline-block;
  padding: 1ch 2ch 1ch 2ch;
  background-color: rgb(152, 205, 248);
  border-radius: 1rem;
  margin-right: 2ch;
  margin-top: 1ch;
}

.login-button{
 grid-area: login-button;
} 

.register-button{
  grid-area: register-button;
}

.login-button:hover,
.register-button:hover {
    fill: white;
    background-color: white;
  }