.logoutsection-container{
  display: grid;
  grid-template: 
  ". logout-button" auto/
  1fr auto;
}

.logout-button{
  grid-area: log-out-button;
  display: inline-block;
  padding: 1ch 2ch 1ch 2ch;
  background-color: rgb(152, 205, 248);
  border-radius: 1rem;
  margin-right: 2ch;
  margin-top: 1ch;
}


.logout-button:hover{
  fill: white;
  background-color: white;
}