.payment-sidebar-container{
  grid-area: payment-sidebar-container;
  display: grid;
  grid-template-columns: auto;
  margin-top: 1ch;
  background-color: rgb(240, 240, 240);
  width: 200px;
  padding: 1ch 2ch 1ch 2ch;
  grid-gap: 0.8ch;
}

.payment-sidebar-option{
  font-weight: bold;
  font-size: 1.1rem;
  margin:2px;
}

.payment-sidebar-option:hover{
  background-color: blue;
  color: white;
}