.payment-sidebar-container{
  grid-area: payment-sidebar-container;
  display: grid;
  grid-template-columns: auto;
  margin-top: 1ch;
  background-color: rgb(240, 240, 240);
  width: 200px;
  padding: 1ch 2ch 1ch 2ch;
  grid-gap: 0.8ch;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(230,230,230);
}

.payment-sidebar-option{
  font-weight: bold;
  font-size: 1.1rem;
  margin:2px;
}

.payment-sidebar-option:hover{
  background-color: blue;
  color: white;
}

@media screen and (max-width: 1020px) {
  .payment-sidebar-container{
    width: 120px;
    padding-left: 1ch;
    padding-right: 1ch;
  }
  .payment-sidebar-option{
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .payment-sidebar-container{
    width: 150px;
    margin-top: 2ch;
  }

  .account-h2{
    grid-template:
    "sidebar-account-type . sidebar-account-number" auto/
    10ch 1ch 9ch;
  }

  .payment-sidebar-option{
    text-align: center;
  }
}

