
.account-h2{
  display: grid;
  grid-template:
  "sidebar-account-type . sidebar-account-number" auto/
  auto 1fr auto;
  text-align: left;
  padding-bottom: 1ch;
}

.sidebar-account-type{
  grid-area: sidebar-account-type;
  text-justify: left;
}

.sidebar-account-number{
  grid-area: sidebar-account-number;  
  text-justify: right;
  }
 
.sidebar-account-number:hover,
.sidebar-account-type:hover{
  background-color: blue;
  color: white;    
}
