.statement-section-container{
  grid-area: statement-section-container;
  margin-top: 1ch;
  padding: 1ch;
  background-color: rgb(240, 240, 240); 
  overflow: auto;
  height: 70vh;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(230,230,230);
  margin-top: 2ch;
  width:fit-content;
}

.safe-image{
  width: 100%;
}

.table-heading{
  font-weight: bold;
  font-size: large;
  text-align: left;
  margin-bottom: 2px;
}

.transaction-header{
  padding-bottom: 1ch;
}

@media screen and (max-width: 1300px) {
  .payed-in{
    display: none
  }

}
@media screen and (max-width: 1020px) {
  .statement-section-container{
    margin-left: auto;
    margin-right: auto;
  }
  .non-mobile{
    display: none
  }
  .name{
    max-width: 15ch;
  }
}
