.statement-section-container{
  grid-area: statement-section-container;
  margin-top: 1ch;
  padding: 1ch;
  background-color: rgb(240, 240, 240); 
  overflow: auto;
  height: 70vh;
}

.safe-image{
  width: 100%;
}

.table-heading{
  font-weight: bold;
  font-size: large;
  text-align: left;
  margin-bottom: 2px;
}

@media screen and (max-width: 1020px) {
  .statement-section-container{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

  }
  .non-mobile{
    display: none
  }
  .name{
    max-width: 15ch;
  }

}
